<div class="text-center">
  <h1>Conheça-se</h1>
</div>

<div class="text-center">
  <p class="text-capitalize"><%= message %></p>
  <div class="col-md-12 text-uppercase">
    <%= link_to user_github_omniauth_authorize_path, class: "btn btn-primary" do %>
      <i class="fab fa-github"></i> &nbsp; criar perfil aqui
    <% end %>
  </div>
</div>
<hr class="my-4">
