<div class="bg-perfil">
</div>
<div class="container profile">
  <div class="center-block">
    <div class="col-md-12">
      <h3 class="text-light text-center">
        <%= image_tag "evaluation/knight.png", size: "50x50", class: "profile-image rounded-circle" %>
        Cavaleiros
      </h3>
      <%= render 'evaluation_index' %>
    </div>
  </div>
</div>
