<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="text-uppercase">O Objetivo</h2>
    <p>
      Esse projeto foi iniciado com o objetivo de auxiliar os Desenvolvedores de Software em sua
      <strong>Jornada Rumo ao Dev10x</strong>. Sei o quanto é
      duro esse caminho de evolução na carreira de tecnologia, principalmente nesse mercado de mudanças frequentes e
      pressões diárias, e que nos forçam a está sempre em constante evolução para ir mais alto.
    </p>
  </div>
</div>