<div class="row">
  <div class="col-md-12 text-center objective">
    <h1>O Objetivo</h1>
    <p>
      Esse projeto foi iniciado com o objetivo de auxiliar os Desenvolvedores de Software em sua
      <strong>Jornada Rumo ao Dev10x</strong>. Sei o quanto é
      duro esse caminho de evolução na carreira de tecnologia,
      <strong>principalmente nesse mercado de mudanças frequentes e
        pressões diárias, e que nos forçam a está sempre em constante evolução para ir mais alto.</strong>
    </p>
  </div>
</div>