<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="text-uppercase">O Objetivo</h2>
    <p>
      Iniciamos esse projeto querendo auxiliar os profissionais de TI a
      <strong>evoluir suas habilidades e conhecimentos em
        desenvolvimento de software</strong>, hoje o foco são hard skills (tecnologias). As funcionalidades são criadas
      visando <strong>analisar as informações públicas disponíveis no Github</strong> e exibir de uma
      forma diferente para o profissional. Em resumo pretendemos
      <strong>criar um plataforma com pitadas de um Game RPG sobre as habilidades e
        conhecimentos em programação</strong>.
    </p>
  </div>
</div>