<h1>Quantos estão evoluindo!</h1>
<div class="counter">
  <i class="fa fa-coffee fa-4x"></i>
  <h3 class="timer count-title count-number" data-to="<%= Profile.count %>" data-speed="1500"></h3>
  <h3 class="count-text">Usuários</h3>
</div>