<div class="container container-card">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Política de Privacidade</h5>
          <p>
            Nosso objetivo é acabar com a complexidade e tentamos deixar essa Política o mais simples possível, mas caso
            ainda tenha dúvidas, o canal de contato fica à sua disposição.
          </p>
          <p>
            A nossa Política de Privacidade foi criada para reafirmar o compromisso de não expor nossa análise do seu
            perfil. Ela descreve como coletamos e tratamos seus dados quando acessa nosso aplicativo.
          </p>
          <p>
            Essas informações podem se referir àquelas necessárias para identificar Você, para fins de cadastro, seu
            histórico de evolução, repositórios, habilidades e conhecimentos. Podemos ainda coletar e tratar dados de
            acesso para saber se nossa solução está sendo útil.
          </p>
          <ol>
            <li>
              Os dados principais coletados são email, nome e login do github, as demais informações são as públicas
              disponibilizado pelo Github, para mais informações
              <a href="https://developer.github.com/v3/">Api Github</a>.
            </li>
            <li>
              Ao trafegar no website e utilizar os recursos do DesenvolvendoMe, Você concorda expressamente com a coleta
              e tratamento de dados do Github necessários para o fornecimento de recursos melhores a Você que auxiliará
              no desenvolvimento como profissional de TI.
            </li>
            <li>
              O DesenvolvendoMe registra seu histórico de acesso e a sua evolução de perfil e conhecimentos.
            </li>
            <li>
              Você pode ocultar a exibição de suas informações para que outros usuários não possam visualizar.
            </li>
            <li>
              Você poderá solicitar a revisão e correção de seus dados sem qualquer ônus e a qualquer tempo. Para isso,
              basta entrar em contato por meio do canal de contato.
            </li>
            <li>
              Não se preocupe, o DesenvolvendoMe usa diversos tipos de medidas de segurança para garantir a integridade
              de suas informações, como padrões de segurança de informação praticados pela indústria quando coleta e
              armazena seus dados pessoais e criptografia de dados padrão da Internet.
            </li>
            <li>
              Você pode revogar seu consentimento a qualquer momento por meio do canal de contato disponível do
              DesenvolvendoMe.
            </li>
            <li>
              O DesenvolvendoMe está sempre à disposição para esclarecer suas dúvidas e colocar Você no controle dos
              seus dados.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>