<div class="container">
  <div class="text-center">
    <h1>Sua solicitação</h1>
    <h1>de avaliação</h1>
    <h1>foi recebida com sucesso.</h1>
    <h2>Quando finalizada você receberá um email com o link.</h2>
  </div>
</div>
