<div class="container container-intests-new">
  <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
    <div class="card card-signin">
      <%= render 'call_to_actions/login_github', message: "Acesse e Conheça melhor suas experiências e habilidades" %>

      <div class="col-md-12 text-center">
        <%= link_to "Entenda o Jogo e as Regras", rule_user_path, class: "btn btn-info text-uppercase", target: "_blank" %>
      </div>
    </div>
  </div>
</div>