<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Olá, <%= @user.name %></h1>
<p>
  Segue o link da análise do seu perfil no github: <%= link_to "Análise", @url, target: "_blank" %>.
</p>
</body>
</html>