<div>
  <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
    <div class="card card-signin my-5 justify-content-sm-center text-justify">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Porque e Como ser um Dev10x?</h1>
          <div class='embed-container'>
            <iframe width="1100" height="600" src="https://www.youtube.com/embed/9XAxSrlKaa4?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <%= render 'call_to_actions/guide' %>
    </div>
  </div>
</div>