<div class="container container-intests-new">
  <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
    <div class="card card-signin my-5">
      <p>No Brasil existem mais de 19,5 mil empresas no setor de tecnologia, onde 5,1 mil atuam no desenvolvimento de
        software.</p>
      <p>Um fato curioso é que a cada dia nascem novas que não dependem mais de terceiração da TI.</p>
      <p>Essa empresas são startups e hoje já existem mais de 12,7 mil no Brasil e 9 já se tornaram
        unicórnios que são:</p>
      <ul>
        <li>99</li>
        <li>PagSeguro</li>
        <li>Nubank</li>
        <li>Stone</li>
        <li>IFood</li>
        <li>Loggi</li>
        <li>Gympass</li>
        <li>QuintoAndar</li>
        <li>Ebank</li>
      </ul>
      <p>
        Os unicórnios são startups avaliadas em mais de 1 bilhão de dólares antes da abertura de capital na bolsa de
        valores.
      </p>
      <p>A tendência é que as empresas de desenvolvimento de software diminua ainda mais, pois já é percebido pelos CEOs
        que a
        TI é parte fundamental para seu negócio, ele ainda não tem um CTO com essa mentalidade.</p>
      <p>A pergunta que faço: Será que você está preparado para ajudar esses CEOs com seus propósitos?</p>
      <p>Trabalhando com a mentalidade e qualificação certa para atuar como programador, engenheiro ou líder.</p>
      <p>Se a resposta é SIM.</p>
      <p>Isso significa que nunca mais lhe faltaram propostas de bons trabalho.</p>
      <p>Se a resposta é NÃO SEI.</p>
      <p>Uma dica simples é, crie um portifólio com projetos que comprovem na prática sua capacidade na área técnica,
        negócial e gestão na criação
        de soluções de software.</p>
      <p>Com essa simples dica, além de lhe possibilitar ter um gigante cartão de vista para enviar para as melhores
        empresas desse novo mercado.
      </p>
      <p>Ainda lhe trará uma experiência gigantes, pois é com a prática que um engenheiro de software evolui.</p>
      <p>Caso tenha interesse em saber mais detalhes do porquê e como ter um portifólio irá transformar sua
        carreira.</p>
      <p>Preparamos um guia de como criar o primeiro projeto com características de um projeto
        que as startups gostam e assim iniciar seu portifólio.</p>
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <p class="card-title mt-3 text-center">Cadastre-se</p>
        <%= simple_form_for @interest, defaults: {input_html: {class: 'register-form'}} do |f| %>
          <%= f.input :email, label: false, placeholder: "Email", input_html: {class: 'form-control'} %>
          <br>
          <%= f.button :submit, "QUERO O GUIA", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>