<div class="container container-intests-new">
  <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
    <div class="card card-signin my-5 justify-content-sm-center">
      <p>
        Fico muito feliz por querer evoluir na experiência e habilidades. Isso é uma vontade que poucos tem.
      </p>
      <p>
        Agora vou lhe mostrar um pouco das vantagens de se preparar para um novo mercado que está surgindo.
      </p>
      <p>
        Hoje, no Brasil existem mais de 19,5 mil empresas no setor de tecnologia, onde 5,1 mil atuam no desenvolvimento
        de software.
      </p>
      <p>Essas empresas de desenvolvimento de software são as responsáveis pela maioria das vagas para
        programadores.</p>
      <p>Além dessas empresas existe um outro tipo que a cada dia nasce uma nova e que não poderá mais terceirizar a TI,
        por questões estratégicas.</p>
      <p>Essas empresas são as famosas startups.</p>
      <p>Hoje já existem mais de 12,7 mil no Brasil e 9 já se tornaram unicórnios que são:</p>
      <ul>
        <li>99</li>
        <li>PagSeguro</li>
        <li>Nubank</li>
        <li>Stone</li>
        <li>IFood</li>
        <li>Loggi</li>
        <li>Gympass</li>
        <li>QuintoAndar</li>
        <li>Ebank</li>
      </ul>
      <p>
        <code>Os unicórnios são startups avaliadas em mais de 1 bilhão de dólares antes da abertura de capital na bolsa
          de
          valores.</code>
      </p>
      <p>A tendência é que as empresas de desenvolvimento de software diminua cada vez mais, pois já é percebido pelos
        CEOs
        que a TI é uma parte vital para seu negócio.</p>
      <p>Todo CEO quer um CTO/CIO com a mentalidade e conhecimento necessários para ajudar na transforma o negócio.</p>
      <p>Não estou querendo dizer que você deve ser esse CTO/CIO, pois requer muita coragem, além de conhecimento.
      <p>O que quero dizer é para trabalhar nessas novas equipes a mentalidade e os conhecimentos devem ser muito
        diferente do que é ensinado em uma faculdade para programador, engenheiro ou líder.</p>
      <p>A pergunta que faço: 
      <p>Será que você está preparado para entrar em uma equipe dessa?</p>
      <p>Se a resposta é SIM.</p>
      <p>PARABÉNS!!! Isso significa que nunca mais lhe faltaram propostas de bons trabalho.</p>
      <p>Se a resposta é NÃO SEI.</p>
      <p>Não se preocupe, pois mais de 99% dos profissionais de TI também não sabem. E mais de 80% dos profissionais sem
        dúvida não
        estão.</p>
      <p>Agora se sabe a importância desse itens, você está realmente no caminho certo:</p>
      <ol>
        <li>Saber aprender</li>
        <li>Saber errar rápido e barato</li>
        <li>Saber sobre negócio</li>
        <li>Saber sobre gestão</li>
        <li>Saber sobre venda</li>
        <li>Saber sobre tecnologia</li>
      </ol>
      <p>Sei que muita coisa, mas sabendo o 1 e o 2 os outras são tranquilo.</p>
      <p>Caso você tenha interesse se apresentar para essas empresas. Aprenda a fazer sua venda.</p>

      <p>Uma dica simples para isso é criar um portifólio com projetos que comprovem na prática sua
        capacidade na área negocial, gestão, venda e tecnologia na criação de soluções de software.</p>

      <p>Com essa simples dica, além de lhe possibilitar ter um gigante cartão de visita para enviar para as melhores
        empresas desse novo mercado.</p>
      <p>
        Ainda lhe trará uma experiência e habilidades gigantes, pois é com a prática que um engenheiro
        de software evolui para um novo CTO/CIO.
      </p>
      <p>Caso tenha interesse em saber mais detalhes de como transformar sua
        carreira e se preparar para esse mercado.</p>
      <p>Vamos preparar um guia passo-a-passo de:</p>

      <p class="text-center">COMO SE PREPARAR PARA ESSE MERCADO</p>
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <%= simple_form_for @interest, defaults: {input_html: {class: 'register-form'}} do |f| %>
          <p class="card-title mt-3 text-center">Cadastre-se para Receber</p>
          <%= f.input :email, label: false, placeholder: "Email", input_html: {class: 'form-control'} %>
          <p class="card-title mt-3 text-center text-danger">Assim que ficar pronto lhe enviarem</p>
          <br>
          <%= f.button :submit, "QUERO O GUIA", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>