<div class="container container-card">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">O seu futuro só depende de você.</h5>

          <h5 class="card-title text-center">NO PAIN NO GAIN</h5>
          <%= image_tag "interesse.jpg", size: "400x300", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
        </div>
      </div>
    </div>
  </div>
</div>