<div class="container container-intests-new">
  <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
    <div class="card card-signin my-5 justify-content-sm-center text-justify">

      <h1> User: <%= @user.login %></h1>
      <% if @user.avatar %>
        <%= image_tag @user.avatar, size: "150x150", class: "profile-image" %>
      <% end %>

      <h1> User: <%= @compared.login %></h1>
      <% if @compared.avatar %>
        <%= image_tag @compared.avatar, size: "150x150", class: "profile-image" %>
      <% end %>

    </div>
  </div>
</div>