<div class="container container-intests-new">
  <div class="col-md-12 text-center text-uppercase">
    <h2>Nãoooo!</h2>
    <h2>Estamos sendo atacado.</h2>
    <h1>Erro <span>5</span><span>0</span><span>0</span></h1>
    <%= image_tag "attack.jpg", class: "img-fluid" %>
    <h4>Estão inserindo bugs no sistema.</h4>
    <h4>Lamentamos, por isso.</h4>
  </div>
</div>
