<div class="container container-intests-new">
  <div class="col-md-12 text-center">
    <h2>Oops!</h2>
    <h2>A página não existe.</h2>
    <h1>Erro <span>4</span><span>0</span><span>4</span></h1>
    <%= image_tag "chest.jpg", class: "img-fluid" %>
    <h4>lamentamos</h4>
  </div>
</div>
