<div class="col-md-12 text-center">
  <div class="h5 text-default">
    <%= column_chart Knowledge.joins(:language).order("languages.description": :asc).group("languages.description").count.sort_by {|e| e.last}.reverse.first(20), ytitle: "Quantidade de Uso", label: "Quantidade" %>
    <i class="fas fa-chart-bar"> Top 20 Conhecimentos</i>
  </div>
</div>