@import 'bootstrap-custom';
@import "font-awesome-sprockets";
@import "font-awesome";

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* Header */
header > nav.navbar{
background-color: #7965CC;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel-container{
  background-color: #7965cc;
  background-attachment: fixed;
  background-position: center;
  // height: calc(100vh - 48px);
  display: flex;
}
.carousel-container .btn-primary{
  background-color: rgb(114, 96, 189);
  border-color: rgb(94, 79, 156);
}

.carousel-container canvas{
  position: absolute;
}
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */
.marketing{
  margin-top: 50px;
}
.marketing .icone{
  color: #7965cc;
  font-size: 112px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
  line-height: 32px;
  font-size: 24px;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Rodape */
.footer-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.justify-content-md-center{
  min-height: calc(100vh - 143px);
  align-content: center;
}
.card{
  padding: 20px;
}

// Avaliação New
.simple_form.new_user{
  text-align: left;
}
.bg-perfil{
  background-color: #37435B;
  height: 140px;
  position: absolute;
  width: 100%;
}
.profile-image{
  border: 11px solid #FFF;
  border-radius: 7px;
}
.container-profile{
  margin-top: 70px;
}
.container-profile .profile-info{
  margin-top: 70px;
}
.container-profile .profile-info .name{
  font-size: 20px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 0px;
}
.container-profile .profile-info .login{
  margin: 0px;
}
.container-profile .profile-info .login a{
  font-size: 16px;
  margin: 0px;
}
.container-profile .image-container{
  width: 165px;
  float: left;
}
.container-profile .profile-info .office,
.container-profile .profile-info .bio{
  font-size: 16px;
  margin: 0px;
}

.container-profile .score-title{
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}
.container-profile .score-value{
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.container-profile .score-container{
  margin-left: 12px;
  width: 126px;
}